# docker-compose.yml

services:
  ubuntu-process-exporter:
    build: .
    image: ubuntu-process-exporter:latest
    network_mode: host
    pid: host
    privileged: true
    read_only: true
    volumes:
      - /proc:/host/proc:ro
      # - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /etc/hostname:/host/etc/hostname:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    tmpfs:
      - /tmp
      - /run

    environment:
      PROC_DIR: /proc
      METRICS_PORT: "9106"
      SCRAPE_TIMEOUT: "300"
      TOP_N: "25" ## if this increase then metrics scrapping gone slow respectively
      ENABLE_DISK_IO: "true"
      # Label control (OPTIONAL)
      # INCLUDE_LABELS: pid,command,container_name,runtime,hostname,ports

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:9106/health"]
      interval: 30s
      timeout: 5s
      retries: 3
